@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


body {
    background-color: #ebf0f4;
}

.splide__arrows {

    button[type=button]:disabled {
        display: none;
    }

    .splide__arrow {
        @apply bg-white opacity-100 shadow-md;

        svg {
            fill: blue;
            width: 0.9em;
            height: 0.9em;
        }
    }
}

#hot_deals{
    .splide__track {
        @apply overflow-visible;
    }
}
